# Ignore pycache
__pycache__/
#Ignore .DS_Store
.DS_Store
# Ignore ipynb checkpoints
.ipynb_checkpoints/
# Ignore data folder
/data
# Ignore results folder
/results
#Ignore test.py script
test.py
# Ignore extraction shell script
extract.sh 
